name: Deploy Terraform
on: 
  push:
    paths: 
      - '**.tf'
      - '.github/workflows/ci-infra.yml'
permissions:
  contents: read
  packages: read
  pull-requests: write
  
jobs:
  verify:
    env:
        AWS_ACCESS_KEY_ID: "${{ secrets.AWS_ACCESS_KEY_ID }}"
        AWS_SECRET_ACCESS_KEY: "${{ secrets.AWS_SECRET_ACCESS_KEY }}"
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform init
        run: terraform init

      - name: Terraform fmt
        run: terraform fmt
        
      - name: Terraform validate
        run: terraform validate 

      - name: Terraform fmt check
        run: terraform fmt -check -recursive  

      - name: Run Checkov Security Scan
        uses: bridgecrewio/checkov-action@master
        with:
          directory: .
          output_format: cli
          soft_fail: true
          quiet: true

      - name: Terraform Plan
        run: terraform plan  
