name: Scan Docker Images, Build Docker Images & Publish it to Docker Hub
on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'
      - 'frontend/**'
      - 'database/**'
      - 'proxy/**'
      - '.github/workflows/*.yml' 
permissions:
  contents: read
  security-events: write
      
jobs:
  secirity-scan-Checkov-frontend:
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    steps:
    - name: checkout repo
      uses: actions/checkout@v4

    - name: Run Checkov Security Scan on frontend
      uses: bridgecrewio/checkov-action@master
      with:
        directory: frontend/ 
        output_format: cli
        soft_fail: true
        quiet: true  

  secirity-scan-Checkov-backend:
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    steps:
    - name: checkout repo
      uses: actions/checkout@v4
    
    - name: Run Checkov Security Scan on backend
      uses: bridgecrewio/checkov-action@master
      with:
        directory: backend/
        output_format: cli
        soft_fail: true
        quiet: true  
     
  secirity-scan-Checkov-proxy:
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    steps:
    - name: checkout repo
      uses: actions/checkout@v4
        
    - name: Run Checkov Security Scan on proxy
      uses: bridgecrewio/checkov-action@master
      with:
        directory: proxy/
        output_format: cli
        soft_fail: true
        quiet: true   

  secirity-scan-Checkov-database:
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    steps:
    - name: checkout repo
      uses: actions/checkout@v4
        
    - name: Run Checkov Security Scan on database
      uses: bridgecrewio/checkov-action@master
      with:
        directory: database/
        output_format: cli
        soft_fail: true
        quiet: true  
        
  build-image-backend:     
    needs: secirity-scan-Checkov-backend
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    env:
      IMAGE_NAME_BACKEND: dockerized-three-tier-app-backend
      IMAGE_LATEST_TAG_BACKEND: ${{ secrets.GIT_USERNAME }}/dockerized-three-tier-app-backend:latest
      BACKEND_TAG: dockerized-three-tier-app-backend:latest, dockerized-three-tier-app-backend:${{ github.sha }}
    steps:
    - name: checkout repo
      uses: actions/checkout@v4

    - name: Set up QEMU 
      uses: docker/setup-qemu-action@v3 

    - name: set up docker
      uses: docker/setup-buildx-action@v2

    - name: Build the Docker images
      uses: docker/build-push-action@v6
      with:
        context: ./backend
        push: false
        tags: ${{ env.BACKEND_TAG }}
        load: true
        outputs: type=docker,dest=/tmp/${{ env.IMAGE_NAME_BACKEND }}.tar

    - name: Upload Image Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.IMAGE_NAME_BACKEND }}
        path: /tmp/${{ env.IMAGE_NAME_BACKEND }}.tar

  build-image-frontend:     
    needs: secirity-scan-Checkov-frontend
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    env:
      IMAGE_NAME_FRONTEND: dockerized-three-tier-app-frontend
      IMAGE_LATEST_TAG_FRONTEND: ${{ secrets.GIT_USERNAME }}/dockerized-three-tier-app-frontend:latest
      FRONTEND_TAGS: dockerized-three-tier-app-frontend:latest, dockerized-three-tier-app-frontend:${{ github.sha }}
    steps:
    - name: checkout repo
      uses: actions/checkout@v4

    - name: Set up QEMU 
      uses: docker/setup-qemu-action@v3 

    - name: set up docker
      uses: docker/setup-buildx-action@v2

    - name: Build the Docker images
      uses: docker/build-push-action@v6
      with:
        context: ./frontend
        push: false
        tags: ${{ env.FRONTEND_TAGS }}
        load: true
        outputs: type=docker,dest=/tmp/${{ env.IMAGE_NAME_FRONTEND }}.tar

    - name: Upload Image Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.IMAGE_NAME_FRONTEND }}
        path: /tmp/${{ env.IMAGE_NAME_FRONTEND }}.tar

  build-image-proxy:     
    needs: secirity-scan-Checkov-proxy
    runs-on: ubuntu-latest
    permissions:
      contents: write 

    env:
      IMAGE_NAME_PROXY: dockerized-three-tier-app-proxy
      IMAGE_LATEST_TAG_PROXY: ${{ secrets.GIT_USERNAME }}/dockerized-three-tier-app-proxy:latest
      PROXY_TAG: dockerized-three-tier-app-proxy:latest, dockerized-three-tier-app-proxy:${{ github.sha }}
    steps:
    - name: checkout repo
      uses: actions/checkout@v4

    - name: Set up QEMU 
      uses: docker/setup-qemu-action@v3 

    - name: set up docker
      uses: docker/setup-buildx-action@v2

    - name: Build the Docker images
      uses: docker/build-push-action@v6
      with:
        context: ./proxy
        push: false
        tags: ${{ env.PROXY_TAG }}
        load: true
        outputs: type=docker,dest=/tmp/${{ env.IMAGE_NAME_PROXY }}.tar

    - name: Upload Image Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.IMAGE_NAME_PROXY }}
        path: /tmp/${{ env.IMAGE_NAME_PROXY }}.tar

  build-image-database:     
    needs: secirity-scan-Checkov-database
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    env:
      IMAGE_NAME_DATABASE: dockerized-three-tier-app-database
      IMAGE_LATEST_TAG_DATABASE: ${{ secrets.GIT_USERNAME }}/dockerized-three-tier-app-database:latest
      DATABASE_TAG: dockerized-three-tier-app-database:latest, dockerized-three-tier-app-database:${{ github.sha }}
    steps:
    - name: checkout repo
      uses: actions/checkout@v4

    - name: set up docker
      uses: docker/setup-buildx-action@v2

    - name: Build the Docker images
      uses: docker/build-push-action@v6
      with:
        context: ./database
        push: false
        tags: ${{ env.DATABASE_TAG }}
        load: true
        outputs: type=docker,dest=/tmp/${{ env.IMAGE_NAME_DATABASE }}.tar

    - name: Upload Image Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.IMAGE_NAME_DATABASE }}
        path: /tmp/${{ env.IMAGE_NAME_DATABASE }}.tar
    
  scan-backend-with-trivy:
    name: Trivy Security Scan Image Backend
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    needs: build-image-backend
    env:
      IMAGE_NAME_BACKEND: dockerized-three-tier-app-backend
    steps:
    - name: Download Image artifact
      uses: actions/download-artifact@v4
      with:
        name: ${{ env.IMAGE_NAME_BACKEND }}
        path: /tmp

    - name: Load image
      run: |
        docker load --input /tmp/${{ env.IMAGE_NAME_BACKEND }}.tar
        docker image ls -a

    - name: Tag Image with Docker Hub Username Prefix
      run: |
        DOCKER_REPO="${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME_BACKEND }}"
        
        docker tag ${{ env.IMAGE_NAME_BACKEND }}:latest $DOCKER_REPO:latest
        
        docker tag ${{ env.IMAGE_NAME_BACKEND }}:latest $DOCKER_REPO:${{ github.sha }}

    - name: Install Trivy
      run: |
        sudo apt-get update
        sudo apt-get install -y curl
        curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sudo sh -s -- -b /usr/local/bin v0.57.0
  
    - name: Download Trivy vulnerability database
      run: trivy image --download-db-only
      
    - name: Run Trivy vulnerability scan
      run: |
        mkdir -p "Github Actions/Trivy Automation"   
        echo "ceate output file"
        OUTPUT_FILE="Github Actions/Trivy Automation/scan-results.json"
        echo "output file created"

        trivy image \
          --exit-code 0 \
          --format table \
          --ignore-unfixed \
          --pkg-types os,library \
          --severity CRITICAL,HIGH,MEDIUM \
          ${{ env.IMAGE_NAME_BACKEND }}:latest

          ls -l "Github Actions/Trivy Automation"
          
          TRIVY_STATUS=$?
          
          

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Push Image to Docker Hub
      run: |
        # Use the fully qualified name defined in the tag step
        DOCKER_REPO="${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME_BACKEND }}"
        
        # Push the correctly tagged image
        docker push $DOCKER_REPO:latest
        docker push $DOCKER_REPO:${{ github.sha }}

    - name: Verify scan results exist
      run: ls -l "Github Actions/Trivy Automation"

    - name: Docker - Logout
      run: docker logout
      
  scan-frontend-with-trivy:
    name: Trivy Security Scan Image Frontend
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    needs: build-image-frontend
    env:
      IMAGE_NAME_FRONTEND: dockerized-three-tier-app-frontend
    steps:
    - name: Download Image artifact
      uses: actions/download-artifact@v4
      with:
        name: ${{ env.IMAGE_NAME_FRONTEND }}
        path: /tmp

    - name: Load image
      run: |
        docker load --input /tmp/${{ env.IMAGE_NAME_FRONTEND }}.tar
        docker image ls -a

    - name: Tag Image with Docker Hub Username Prefix
      run: |
        DOCKER_REPO="${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME_FRONTEND }}"
        
        docker tag ${{ env.IMAGE_NAME_FRONTEND }}:latest $DOCKER_REPO:latest
        
        docker tag ${{ env.IMAGE_NAME_FRONTEND }}:latest $DOCKER_REPO:${{ github.sha }}

    - name: Install Trivy
      run: |
        sudo apt-get update
        sudo apt-get install -y curl
        curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sudo sh -s -- -b /usr/local/bin v0.57.0
  
    - name: Download Trivy vulnerability database
      run: trivy image --download-db-only
      
    - name: Run Trivy vulnerability scan
      run: |
        mkdir -p "Github Actions/Trivy Automation"
        echo "ceate output file"
        OUTPUT_FILE="Github Actions/Trivy Automation/scan-results.json"
        echo "output file created"

        trivy image \
          --exit-code 0 \
          --format table \
          --ignore-unfixed \
          --pkg-types os,library \
          --severity CRITICAL,HIGH,MEDIUM \
          ${{ env.IMAGE_NAME_FRONTEND }}:latest

        ls -l "Github Actions/Trivy Automation"
        
        TRIVY_STATUS=$?
        
        if [ $TRIVY_STATUS == 0 ]; then
          docker push ${{ env.IMAGE_NAME_FRONTEND }}
          echo "${{ env.IMAGE_NAME_FRONTEND }} pushed to Docke Hub"
        else 
          echo "Image not push Vulnerability found"
        fi
        done

       

    - name: Verify scan results exist
      run: ls -l "Github Actions/Trivy Automation"

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Push Image to Docker Hub
      run: |
        # Use the fully qualified name defined in the tag step
        DOCKER_REPO="${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME_FRONTEND }}"
        
        # Push the correctly tagged image
        docker push $DOCKER_REPO:latest
        docker push $DOCKER_REPO:${{ github.sha }}

    - name: Docker - Logout
      run: docker logout

  scan-proxy-with-trivy:
    name: Trivy Security Scan Image Proxy
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    needs: build-image-proxy
    env:
      IMAGE_NAME_PROXY: dockerized-three-tier-app-proxy 
    steps:
    - name: Download Image artifact
      uses: actions/download-artifact@v4
      with:
        name: ${{ env.IMAGE_NAME_PROXY }}
        path: /tmp

    - name: Load image
      run: |
        docker load --input /tmp/${{ env.IMAGE_NAME_PROXY }}.tar
        docker image ls -a

    - name: Tag Image with Docker Hub Username Prefix
      run: |
        DOCKER_REPO="${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME_PROXY }}"
        
        docker tag ${{ env.IMAGE_NAME_PROXY }}:latest $DOCKER_REPO:latest
        
        docker tag ${{ env.IMAGE_NAME_PROXY }}:latest $DOCKER_REPO:${{ github.sha }}

    - name: Install Trivy
      run: |
        sudo apt-get update
        sudo apt-get install -y curl
        curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sudo sh -s -- -b /usr/local/bin v0.57.0
  
    - name: Download Trivy vulnerability database
      run: trivy image --download-db-only
      
      
    - name: Run Trivy vulnerability scan
      run: |

        mkdir -p "Github Actions/Trivy Automation"
              
        echo "ceate output file"
        OUTPUT_FILE="Github Actions/Trivy Automation/scan-results.json"
        echo "output file created"

        trivy image \
          --exit-code 0 \
          --format table \
          --ignore-unfixed \
          --pkg-types os,library \
          --severity CRITICAL,HIGH,MEDIUM \
          ${{ env.IMAGE_NAME_PROXY }}:latest

        ls -l "Github Actions/Trivy Automation"
        
        TRIVY_STATUS=$?
        
        if [ $TRIVY_STATUS == 0 ]; then
          docker push ${{ env.IMAGE_NAME_PROXY }}
          echo "${{ env.IMAGE_NAME_PROXY }} pushed to Docke Hub"
        else 
          echo "Image not push Vulnerability found"
        fi
        done

        

    - name: Verify scan results exist
      run: ls -l "Github Actions/Trivy Automation"

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Push Image to Docker Hub
      run: |
        # Use the fully qualified name defined in the tag step
        DOCKER_REPO="${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME_PROXY}}"
        
        # Push the correctly tagged image
        docker push $DOCKER_REPO:latest
        docker push $DOCKER_REPO:${{ github.sha }}

    - name: Docker - Logout
      run: docker logout
      
         

  scan-database-with-trivy:
    name: Trivy Security Scan Image Database
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    needs: build-image-database
    env:
      IMAGE_NAME_DATABASE: dockerized-three-tier-app-database
    steps:
    - name: Download Image artifact
      uses: actions/download-artifact@v4
      with:
        name: ${{ env.IMAGE_NAME_DATABASE }}
        path: /tmp

    - name: Load image
      run: |
        docker load --input /tmp/${{ env.IMAGE_NAME_DATABASE }}.tar
        docker image ls -a

    - name: Tag Image with Docker Hub Username Prefix
      run: |
        DOCKER_REPO="${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME_DATABASE }}"
        
        docker tag ${{ env.IMAGE_NAME_DATABASE }}:latest $DOCKER_REPO:latest
        
        docker tag ${{ env.IMAGE_NAME_DATABASE }}:latest $DOCKER_REPO:${{ github.sha }}

    - name: Install Trivy
      run: |
        sudo apt-get update
        sudo apt-get install -y curl
        curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sudo sh -s -- -b /usr/local/bin v0.57.0
  
    - name: Download Trivy vulnerability database
      run: trivy image --download-db-only
      
    - name: Run Trivy vulnerability scan
      run: |
        mkdir -p "Github Actions/Trivy Automation"
        echo "ceate output file"
        OUTPUT_FILE="Github Actions/Trivy Automation/scan-results.json"
        echo "output file created"

        trivy image \
          --exit-code 0 \
          --format table \
          --ignore-unfixed \
          --pkg-types os,library \
          --severity CRITICAL,HIGH,MEDIUM \
          ${{ env.IMAGE_NAME_DATABASE }}:latest

        ls -l "Github Actions/Trivy Automation"
        
        TRIVY_STATUS=$?
        
        if [ $TRIVY_STATUS == 0 ]; then
          docker push ${{ env.IMAGE_NAME_DATABASE }}
          echo "${{ env.IMAGE_NAME_DATABASE }} pushed to Docke Hub"
        else 
          echo "Image not push Vulnerability found"
        fi
        done

    - name: Verify scan results exist
      run: ls -l "Github Actions/Trivy Automation"

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Push Image to Docker Hub
      run: |
        # Use the fully qualified name defined in the tag step
        DOCKER_REPO="${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME_DATABASE }}"
        
        # Push the correctly tagged image
        docker push $DOCKER_REPO:latest
        docker push $DOCKER_REPO:${{ github.sha }}

    - name: Docker - Logout
      run: docker logout
      
  Trivy-scan-and-push:
    needs: ["build-image-frontend", "build-image-backend", "build-image-proxy", "build-image-database"]
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    steps:
    - name: Create output directory
      run: mkdir -p "Github Actions/Trivy Automation"

    - name: Install Trivy
      run: |
        sudo apt-get update
        sudo apt-get install -y curl
        curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sudo sh -s -- -b /usr/local/bin v0.57.0
  
    - name: Download Trivy vulnerability database
      run: trivy image --download-db-only

    - name: create tag with date and time
      run: |
        TIMESTAMP=$(date +%Y%m%d-%H%M%S)
        echo "$TIMESTAMP"

    - name: Run Trivy vulnerability scanner && push it to Docker Hub
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |

        docker login -u dev126712 -p ${{ secrets.DOCKER_HUB_TOKEN }}
        IMAGES=(
          "${{ secrets.GIT_USERNAME }}/dockerized-three-tier-app-backend:latest"
          "${{ secrets.GIT_USERNAME }}/dockerized-three-tier-app-frontend:latest"
          "${{ secrets.GIT_USERNAME }}/dockerized-three-tier-app-database:latest"
          "${{ secrets.GIT_USERNAME }}/dockerized-three-tier-app-proxy:latest"
        )
       
          mkdir -p "Github Actions/Trivy Automation"
            
          echo "ceate output file"
          OUTPUT_FILE="Github Actions/Trivy Automation/scan-results.json"
          echo "output file created"
          
        
        for IMAGE in "${IMAGES[@]}"; do
          echo "Scanning $IMAGE"
            
          trivy image \
            --exit-code 0 \
            --format json \
            --ignore-unfixed \
            --pkg-types os,library \
            --severity CRITICAL,HIGH,MEDIUM \
            >>  "$OUTPUT_FILE" \
            "$IMAGE" 

          ls -l "Github Actions/Trivy Automation"
          
          TRIVY_STATUS=$?
          
          if [ $TRIVY_STATUS == 0 ]; then
            docker push $IMAGE
            echo "$IMAGE pushed to Docke Hub"
          else 
            echo "Image not push Vulnerability found"
          fi
        done

        git config --global user.email "${{ secrets.GIT_EMAIL }}"
        git config --global user.name "${{ secrets.GIT_USERNAME }}"
        git add "Github Actions/Trivy Automation/scan-results.json"
        git commit -m "Add trivy results (${DATE})"
        git push
         
    - name: Verify scan results exist
      run: ls -l "Github Actions/Trivy Automation"

    - name: Docker - Logout
      run: docker logout
    
