name: Scan Docker Images, Build Docker Images & Publish it to Docker Hub
on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'
      - 'frontend/**'
      - 'database/**'
      - 'proxy/**'
      - '.github/workflows/*.yml'
      
jobs:
  secirity-scan-Checkov-frontend:
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    steps:
    - name: checkout repo
      uses: actions/checkout@v4

    - name: Run Checkov Security Scan on frontend
      uses: bridgecrewio/checkov-action@master
      with:
        directory: frontend/ 
        output_format: cli
        soft_fail: true
        quiet: true  

  secirity-scan-Checkov-backend:
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    steps:
    - name: checkout repo
      uses: actions/checkout@v4
    
    - name: Run Checkov Security Scan on backend
      uses: bridgecrewio/checkov-action@master
      with:
        directory: backend/
        output_format: cli
        soft_fail: true
        quiet: true  
     
  secirity-scan-Checkov-proxy:
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    steps:
    - name: checkout repo
      uses: actions/checkout@v4
        
    - name: Run Checkov Security Scan on proxy
      uses: bridgecrewio/checkov-action@master
      with:
        directory: proxy/
        output_format: cli
        soft_fail: true
        quiet: true   

  secirity-scan-Checkov-database:
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    steps:
    - name: checkout repo
      uses: actions/checkout@v4
        
    - name: Run Checkov Security Scan on database
      uses: bridgecrewio/checkov-action@master
      with:
        directory: database/
        output_format: cli
        soft_fail: true
        quiet: true  
        
  build-image-backend:     
    needs: secirity-scan-Checkov-backend
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    steps:
    - name: checkout repo
      uses: actions/checkout@v4

    - name: set up docker
      uses: docker/setup-buildx-action@v2

    - name: Build the Docker images
      run: |
        docker build ./backend/ -t ${{ secrets.GIT_USERNAME }}/dockerized-three-tier-app-backend:latest

  build-image-frontend:     
    needs: secirity-scan-Checkov-frontend
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    steps:
    - name: checkout repo
      uses: actions/checkout@v4

    - name: set up docker
      uses: docker/setup-buildx-action@v2

    - name: Build the Docker images
      run: |
        docker build ./frontend/ -t ${{ secrets.GIT_USERNAME }}/dockerized-three-tier-app-frontend:latest

  build-image-proxy:     
    needs: secirity-scan-Checkov-proxy
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    steps:
    - name: checkout repo
      uses: actions/checkout@v4

    - name: set up docker
      uses: docker/setup-buildx-action@v2

    - name: Build the Docker images
      run: |
        docker build ./proxy/ -t ${{ secrets.GIT_USERNAME }}/dockerized-three-tier-app-proxy:latest

  build-image-database:     
    needs: secirity-scan-Checkov-database
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    steps:
    - name: checkout repo
      uses: actions/checkout@v4

    - name: set up docker
      uses: docker/setup-buildx-action@v2

    - name: Build the Docker images
      run: |
        docker build ./database/ -t ${{ secrets.GIT_USERNAME }}/dockerized-three-tier-app-database:latest

    

      
  Trivy-scan-and-push:
    needs: ["build-image-frontend", "build-image-backend", "build-image-proxy", "build-image-database"]
    runs-on: ubuntu-latest
    permissions:
      contents: write 
    steps:
    - name: Create output directory
      run: mkdir -p "Github Actions/Trivy Automation"

    - name: Install Trivy
      run: |
        sudo apt-get update
        sudo apt-get install -y curl
        curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sudo sh -s -- -b /usr/local/bin v0.57.0

    #- name: Login to GitHub Container Registery
    #  run: echo "{{ secrets.GHCR_PAT }}" | docker login ghcr.io -u {{ github.actor }} --password-stdin
  
    - name: Download Trivy vulnerability database
      run: trivy image --download-db-only

    - name: create tag with date and time
      run: |
        TIMESTAMP=$(date +%Y%m%d-%H%M%S)
        echo "$TIMESTAMP"

    - name: Run Trivy vulnerability scanner && push it to Docker Hub
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |

        docker login -u dev126712 -p ${{ secrets.DOCKER_HUB_TOKEN }}
        IMAGES=(
          "${{ secrets.GIT_USERNAME }}/dockerized-three-tier-app-backend:latest"
          "${{ secrets.GIT_USERNAME }}/dockerized-three-tier-app-frontend:latest"
          "${{ secrets.GIT_USERNAME }}/dockerized-three-tier-app-database:latest"
          "${{ secrets.GIT_USERNAME }}/dockerized-three-tier-app-proxy:latest"
        )
       
          mkdir -p "Github Actions/Trivy Automation"
            
          echo "ceate output file"
          OUTPUT_FILE="Github Actions/Trivy Automation/scan-results.json"
          echo "output file created"
          
        
        for IMAGE in "${IMAGES[@]}"; do
        echo "Scanning $IMAGE"
          
          trivy image \
            --exit-code 0 \
            --format json \
            --ignore-unfixed \
            --pkg-types os,library \
            --severity CRITICAL,HIGH,MEDIUM \
            >>  "$OUTPUT_FILE" \
            "$IMAGE" 

          ls -l "Github Actions/Trivy Automation"
          
          TRIVY_STATUS=$?
          
          if [ $TRIVY_STATUS == 0 ]; then
            docker push $IMAGE
            echo "$IMAGE pushed to Docke Hub"
          else 
            echo "Image not push Vulnerability found"
          fi
         done

         git config --global user.email "${{ secrets.GIT_EMAIL }}"
         git config --global user.name "${{ secrets.GIT_USERNAME }}"
         git add "Github Actions/Trivy Automation/scan-results.json"
         git commit -m "Add trivy results (${DATE})"
         git push
         
    - name: Verify scan results exist
      run: ls -l "Github Actions/Trivy Automation"

    - name: Docker - Logout
      run: docker logout
      
